@import '../../styles/shared-styles.scss';
.container {
    color: white;
}
.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}
.product-header {
    color: $shopapp-tint-color;
}
.form-control {
    // background-color: $shopapp-background-color;
    border: 1px solid rgb(29, 33, 54);
    color: white;
    color: #343a40;
}

.form-control:focus {
    border-color: white;
    // background-color: $shopapp-background-color;
}
.form-label {
    color: #343a40;
}

.product-header {
    color: $shopapp-tint-color;
}
.product-order {
    color: #002c3e;
    font-weight: 600;
}
table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: #002c3e;
}

th,
td {
    padding: 10px;
    text-align: center;
}
.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: white;
    margin-right: 10px;
}
.btn-gradient {
    background: linear-gradient(to right, $shopapp-tint-color, $shopapp-color);
    color: white;
    border-radius: 30px;
    width: 200px;
  }
.btn-hover:hover {
  background: linear-gradient(to right, $shopapp-tint-color, $shopapp-color);
}

.border-wrapper {
  border: 1px solid white;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.product-quantity button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.product-quantity input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 40px;
  margin: 0 10px;
}

.product-quantity input:focus {
  outline: none;
}
